<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Gotcha</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="Twitter:site" content="@buzzwriterjp">
    <meta name="twitter:title" content="Gotcha">
    <meta name="twitter:description" content="誕生日ポケモンを探しに行こう！">
    <meta name="twitter:image" content="<%=image_url('Gotcha_TC.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <%= render "layouts/flash"%>
    <main class="container mx-auto mt-10 px-5">
      <%= yield %>
    </main>
  </body>
</html>
